@mixin quotes($color) {
  .quote {
    max-width: 300px;
    border-left: 4px solid $color;
    padding-left: 20px;
  }

  .quote:before {
    content: '“';
    display: block;
    font-size: 60px;
    line-height: 0px;
    padding-top: 30px;
    color: $color;
  }
}